@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


:root {
  --background: oklch(0.9091 0.0077 228.8612);
  --foreground: oklch(0.2934 0.0545 248.4717);
  --card: oklch(0.9331 0.0070 219.5625);
  --card-foreground: oklch(0.2934 0.0545 248.4717);
  --popover: oklch(0.9331 0.0070 219.5625);
  --popover-foreground: oklch(0.2934 0.0545 248.4717);
  --primary: oklch(0.4112 0.0833 242.9031);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.8784 0.0138 226.5811);
  --secondary-foreground: oklch(0.2934 0.0545 248.4717);
  --muted: oklch(0.8880 0.0085 236.5733);
  --muted-foreground: oklch(0.4724 0.0388 237.8422);
  --accent: oklch(0.8488 0.0232 237.6938);
  --accent-foreground: oklch(0.2934 0.0545 248.4717);
  --destructive: oklch(0.6040 0.1066 46.8987);
  --destructive-foreground: oklch(1.0000 0 0);
  --border: oklch(0.8454 0.0164 239.1449);
  --input: oklch(0.8784 0.0138 226.5811);
  --ring: oklch(0.4112 0.0833 242.9031);
  --chart-1: oklch(0.4112 0.0833 242.9031);
  --chart-2: oklch(0.4924 0.0807 239.2553);
  --chart-3: oklch(0.5698 0.0797 238.2572);
  --chart-4: oklch(0.6531 0.0736 237.8051);
  --chart-5: oklch(0.7410 0.0565 237.7173);
  --sidebar: oklch(0.8803 0.0165 245.1074);
  --sidebar-foreground: oklch(0.2934 0.0545 248.4717);
  --sidebar-primary: oklch(0.4112 0.0833 242.9031);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8488 0.0232 237.6938);
  --sidebar-accent-foreground: oklch(0.2934 0.0545 248.4717);
  --sidebar-border: oklch(0.8454 0.0164 239.1449);
  --sidebar-ring: oklch(0.4112 0.0833 242.9031);
  --font-sans: IBM Plex Mono, monospace;
  --font-serif: IBM Plex Mono, monospace;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.1rem;
  --shadow-2xs: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.07);
  --shadow-xs: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.07);
  --shadow-sm: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.13), 1px 1px 2px -1px hsl(204.5070 48.9655% 28.4314% / 0.13);
  --shadow: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.13), 1px 1px 2px -1px hsl(204.5070 48.9655% 28.4314% / 0.13);
  --shadow-md: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.13), 1px 2px 4px -1px hsl(204.5070 48.9655% 28.4314% / 0.13);
  --shadow-lg: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.13), 1px 4px 6px -1px hsl(204.5070 48.9655% 28.4314% / 0.13);
  --shadow-xl: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.13), 1px 8px 10px -1px hsl(204.5070 48.9655% 28.4314% / 0.13);
  --shadow-2xl: 1px 1px 0px 0px hsl(204.5070 48.9655% 28.4314% / 0.33);
}

.dark {
  --background: oklch(0 0 0);
  --foreground: oklch(0.6909 0.0959 232.2143);
  --card: oklch(0.2097 0.0240 251.5913);
  --card-foreground: oklch(0.6909 0.0959 232.2143);
  --popover: oklch(0.2097 0.0240 251.5913);
  --popover-foreground: oklch(0.6909 0.0959 232.2143);
  --primary: oklch(0.6909 0.0959 232.2143);
  --primary-foreground: oklch(0.2068 0.0251 256.4747);
  --secondary: oklch(0.3111 0.0475 251.7437);
  --secondary-foreground: oklch(0.6909 0.0959 232.2143);
  --muted: oklch(0.2435 0.0341 252.6904);
  --muted-foreground: oklch(0.5346 0.0660 232.0583);
  --accent: oklch(0.3111 0.0475 251.7437);
  --accent-foreground: oklch(0.6909 0.0959 232.2143);
  --destructive: oklch(0.6487 0.1226 46.3475);
  --destructive-foreground: oklch(0.9612 0 0);
  --border: oklch(0.3111 0.0475 251.7437);
  --input: oklch(0.3111 0.0475 251.7437);
  --ring: oklch(0.6909 0.0959 232.2143);
  --chart-1: oklch(0.6909 0.0959 232.2143);
  --chart-2: oklch(0.5346 0.0660 232.0583);
  --chart-3: oklch(0.4714 0.0572 232.0758);
  --chart-4: oklch(0.3469 0.0457 239.1543);
  --chart-5: oklch(0.2590 0.0329 239.0045);
  --sidebar: oklch(0.2068 0.0251 256.4747);
  --sidebar-foreground: oklch(0.6909 0.0959 232.2143);
  --sidebar-primary: oklch(0.6909 0.0959 232.2143);
  --sidebar-primary-foreground: oklch(0.2068 0.0251 256.4747);
  --sidebar-accent: oklch(0.3111 0.0475 251.7437);
  --sidebar-accent-foreground: oklch(0.6909 0.0959 232.2143);
  --sidebar-border: oklch(0.3111 0.0475 251.7437);
  --sidebar-ring: oklch(0.6909 0.0959 232.2143);
  --font-sans: IBM Plex Mono, monospace;
  --font-serif: IBM Plex Mono, monospace;
  --font-mono: IBM Plex Mono, monospace;
  --radius: 0.1rem;
  --shadow-2xs: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.07);
  --shadow-xs: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.07);
  --shadow-sm: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.13), 1px 1px 2px -1px hsl(200.1869 48.8584% 57.0588% / 0.13);
  --shadow: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.13), 1px 1px 2px -1px hsl(200.1869 48.8584% 57.0588% / 0.13);
  --shadow-md: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.13), 1px 2px 4px -1px hsl(200.1869 48.8584% 57.0588% / 0.13);
  --shadow-lg: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.13), 1px 4px 6px -1px hsl(200.1869 48.8584% 57.0588% / 0.13);
  --shadow-xl: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.13), 1px 8px 10px -1px hsl(200.1869 48.8584% 57.0588% / 0.13);
  --shadow-2xl: 1px 1px 0px 0px hsl(200.1869 48.8584% 57.0588% / 0.33);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}


@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
